.over-map {
    position: relative;
    z-index: 10;
}

.container.over-map {
    position: relative;
    z-index: 0;
    padding-bottom: 80px;
}

header .nav-wrapper {
    margin-top: 10px;
}

.valign-wrapper.row {
    margin-bottom: 0px;
}

.menu {
    bottom: 0px;
    position: fixed;
    display: block;
    .col {
        margin-bottom: 0px;
        margin-top: 15px;
    }
}

.accounts-dialog {
    position: fixed !important;
    top: 30px !important;
    left: 20% !important;
    width: 60%;
    z-index: 100000;
}
