.new-event-container {
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 80%;
    background-color: grey;
    .btn {
        margin-bottom: 10px;
    }
}
